<div class="container py-5">
    <div class="row">
        <div class="col-md-3">
            <div class="">
                <img src="../../../assets/images/img-tracking.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2>2019 - nCoV</h2>
                    <div class="title-section">
                        <h6>SYMPTOMS</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/symptoms-1.png" class="img-fluid" alt="">
                        <h6>High fever</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/symptoms-2.png" class="img-fluid" alt="">
                        <h6>Cough</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/symptoms-3.png" class="img-fluid" alt="">
                        <h6>Sore troath</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/symptoms-4.png" class="img-fluid" alt="">
                        <h6>Headache</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section">
                        <h6>PREVENTION</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/phong-tranh.png" class="img-fluid" alt="">
                        <h6>WASH YOUR
                            HANDS OFTEN</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/phong-tranh-2.png" class="img-fluid" alt="">
                        <h6>wear a
                            face mask</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/phong-tranh-3.png" class="img-fluid" alt="">
                        <h6>Avoid contact
                            with sick people</h6>
                    </div>
                </div>
                <div class="col-md-3 py-3">
                    <div class="card-item symptom shadow text-center">
                        <img src="../../../assets/images/phong-tranh-4.png" class="img-fluid" alt="">
                        <h6>always cover your
                            cough or sneeze</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
