<div class="sidenav">
    <ul class="nav">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}"><i class="fa fa-home" aria-hidden="true"></i><br> Overview
            </a>
        </li>
        <li>
            <a [routerLink]="['/symptoms']" routerLinkActive="active" ><i class="fas fa-child"></i><br> Symptoms
            </a>
        </li>
        <li>
            <a [routerLink]="['/jounral']" routerLinkActive="active" ><i class="fa fa-home" aria-hidden="true"></i><br> Jounral
            </a>
        </li>
        <li>
            <a [routerLink]="['/test-yourself']" routerLinkActive="active" ><i class="fa fa-home" aria-hidden="true"></i><br> Test  Yourself </a>
        </li>
    </ul>
</div>